<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sslRedirect" type="Agresso.Plugin.Asp.SslRedirectConfigHandler, Agresso.Plugin.Asp" allowLocation="true" />
    
    <!-- FED add as is FED -->
    <section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <!-- FED add as is FED -->
  
  </configSections>
  
  <sslRedirect mode="off" warningBypassMode="AlwaysBypass" bypassQueryParamName="BypassSecurityWarning">
    <file path="/System/login.aspx" secure="false" />
    <directory path="/" secure="false" recurse="true" />
  </sslRedirect>
  <system.web>
    <httpModules>
      
      <!-- FED add as is FED -->
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <!-- FED add as is FED -->
    
    </httpModules>
   
    <compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        
        <!-- FED add as is FED -->
        <add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!-- FED add as is FED -->
      
      </assemblies>
    </compilation>
   
    <customErrors mode="Off" defaultRedirect="~/System/Error.aspx" />
    
    <authentication mode="Forms">
      <forms name=".ASPXAUTH" path="/" timeout="2880" slidingExpiration="true" loginUrl="~/System/Login.aspx" protection="All" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    
    <trace enabled="true" />
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="auto:en-US" uiCulture="auto:en-US" />
    <pages buffer="true" smartNavigation="false" autoEventWireup="false" enableViewState="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
    </pages>
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    
    <!-- FED add as is FED -->
    <httpRuntime requestValidationMode="2.0" requestValidationType="Agresso.Module.Authentication.IdentityModel.WifRequestValidator" />
    <!-- FED add as is FED -->
  
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      
      <!-- FED add as is FED -->
      <remove name="FormsAuthentication" />
      <!-- FED add as is FED -->
      
      <add name="SslRedirect" type="Agresso.Plugin.Asp.SslRedirectHttpModule, Agresso.Plugin.Asp" preCondition="managedHandler" />
      
      <!-- FED add as is FED -->
      <add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
      <!-- FED add as is FED -->
    </modules>
  </system.webServer>
  <runtime>
    <developmentMode developerInstallation="false" />
  </runtime>
  <!-- Define login redirection -->
  <location path="System/Styles/AgressoStyle.css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="System/Images">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="System/Scripts">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="System/LoginProxy.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  
    <!-- FED - do not have anonymous access to System/Login.aspx FED -->
    <!--
    <location path="System/Login.aspx">
     <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
     </system.web>
    </location> 
    -->  
    <!-- FED - do not have anonymous access to System/Login.aspx FED -->
      
  <location path="System/Logout.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="System/Error.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="DesignTime/TopGenPageDefinition.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="DesignTime/TopGenPreview.aspx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="System/Privacy">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <!-- SELFSERVICE APPLICATION SETTINGS -->
  <appSettings file="appSettings.config">
    <add key="loginUrl" value="~/System/Login.aspx" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="type" value="Agresso Web Classic" />
    <add key="version" value="Agresso 5.7.2" />
    <add key="wmi_database" value="false" />
    <add key="DatabaseDriverAssembly" value="Agresso.Driver.MsSqlServer" />
    <add key="DatabaseDriver" value="Agresso.Driver.MsSqlServer.MsSqlServerFactory" />
    <add key="dsn" value="Server=localhost;User ID=agr571;Password=agresso" />
    <add key="loadnativedlls:Agresso.Module.Fundamentals.CommonWrapper" value="ABWFundamentals.dll" />
    <add key="ServiceXmlFile" value="PluginServices.xml" />
    <add key="DebugLog" value="False" />
    <add key="LoggingConfiguration" value="Logger.config" />
    <add key="PollLoggingConfiguration" value="True" />
	
	<!-- FED add as is FED -->
    <add key="Authenticator" value="U4A_CLAIMS" />
	<!-- FED add as is FED -->
	
    <add key="OperationStateProvider" value="Agresso.TopGen.Web.Context.WebOperationStateProvider,Agresso.TopGen.Web.Renderer" />
    <add key="UseSelfServiceHeartbeat" value="False" />
    <add key="ShowMessageIcons" value="True" />
    <add key="SupportsScreenReaders" value="False" />
    <add key="UseHighContrast" value="True" />
    <add key="DefaultDataListSize" value="25" />
    <add key="TypeAheadResultSize" value="50" />
    <add key="TypeAheadLookupDelay" value="500" />
    <add key="TypeAheadLookupChars" value="1" />
    <add key="defaultLanguage" value="EN" />
    <add key="EnableDHTML" value="True" />
    <add key="ErrorDetailLevel" value="4" />
    <add key="MaxDisplayLength" value="35" />
    <add key="MaxGridRowsPerPage" value="100" />
    <add key="Transition" value="0,0" />
    <add key="DevMode" value="false" />
    <add key="NavigationWarning" value="True" />
    <add key="CacheTopGenFrames" value="False" />
    <add key="ShowPageHistory" value="True" />
    <add key="PageHistoryCount" value="7" />
    <add key="DefaultProxyAddress" value="http://proxyoslo:8080" />
    <add key="EnableLoginShortcuts" value="True" />
    <add key="CacheDocumentSectionResponse" value="True" />
    <add key="DocumentSectionResponseCacheTime" value="5" />
    <add key="DoubleBuffering" value="True" />
    <add key="DoubleBufferingExclusions" value="" />
  </appSettings>
  
  <!-- FED add with changes FED -->
  <microsoft.identityModel>
    <service saveBootstrapTokens="true">
      <audienceUris mode="Never" />
      <federatedAuthentication>
        <wsFederation passiveRedirectEnabled="true" 
                      issuer="https://fs.agresso.no/adfs/ls/" 
                      realm="https://bolsen01.corp.u4agr.com/agresso-classic/" 
                      reply="https://bolsen01.corp.u4agr.com/agresso-classic/System/Login.aspx" 
                      requireHttps="true" /> <!-- reply is not honored by ADFS -->
      
        <cookieHandler requireSsl="false" />
      </federatedAuthentication>
      <certificateValidation certificateValidationMode="None" />
      <issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <trustedIssuers>
          <add name="http://fs.agresso.no/adfs/services/trust" thumbprint="47DB5359C2C1542DCAFD4F72182EF875C6D993FB" />
        </trustedIssuers>
      </issuerNameRegistry>
    </service>
  </microsoft.identityModel>
  <!-- FED add with changes FED -->

</configuration>